.main-nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
}
.contact-me-container:hover {
  background-color: #5e3bee;
}
.contact-me-container:hover a {
  color: white;
}
.contact-me-container {
  border: 1.3px solid #5e3bee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  margin-right: 40px;
}
.links a {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-size: 21px;
  color: #1e1e1e;
  padding: 20px;
}
a:hover {
  color: #5e3bee;
}
.contact-me {
  text-decoration: none;
  font-family: Roboto;
  font-size: 22;
  color: #5e3bee;
}
.section-container {
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  padding-bottom: 100px;
}
.about-me-container {
  display: flex;
  justify-content: center;
}
.about-me-text {
  font-family: Roboto;
  font-size: 70px;
  color: #5e3bee;
}
.description-outer-container {
  display: flex;
  justify-content: center;
}
.description-inner-container {
  width: 800px;
  height: 200px;
}
.description-text {
  font-size: 24px;
  text-align: center;
  font-family: Roboto;
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px;
}
.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 42%;
}
.text-box {
  padding: 20px 30px;
  margin-top: 20px;
  position: relative;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
  border-radius: 6px;
}
.left-container {
  left: 0px;
}
.right-container {
  left: 110%;
}
.vertical-line {
  position: absolute;
  top: 600px;
  width: 2px;
  height: 120%;
  background-color: black;
  left: 49%;
}
#logo {
  font-size: 20px;
  margin-left: 85px;
  font-family: Roboto;
}
