.main-nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
}
.links {
  display: flex;
}
.contact-me-container:hover {
  background-color: #5e3bee;
}
.contact-me-container:hover a {
  color: white;
}
.contact-me-container {
  border: 1.3px solid #5e3bee;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  margin-right: 40px;
}
.links a {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-size: 21px;
  color: #1e1e1e;
  padding: 20px;
}
a:hover {
  color: #5e3bee;
}
.contact-me {
  text-decoration: none;
  font-family: Roboto;
  font-size: 22;
  color: #5e3bee;
}
#logo {
  font-size: 20px;
  margin-left: 85px;
  font-family: Roboto;
}
