h2 {
  font-family: "Roboto", serif;
  font-weight: bold;
  font-size: 60px;
  margin-top: 10px;
  margin-bottom: 0px;
}
main {
  background-color: #f5fcff;
  width: "100%";
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 85px;
}

p {
  display: block;
}
td {
  padding: 30px;
}
a {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-size: 21px;
  color: #1e1e1e;
  padding: 20px;
}
span {
  color: #5e3bee;
}
header {
  margin-left: 83px;
  margin-top: 40px;
  font-size: 64px;
  font-family: Roboto;
  font-weight: bold;
}
.contacts-container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin-top: 20px;
}

section figure:first-child {
  margin-right: 0px;
  margin-left: 0px;
}
section figure:nth-child(2) {
  margin-left: 0px;
}
.skills-inner-container {
  background-color: #f5fcff;
  width: 350px;
  height: 280px;
  border-radius: 10px;
}
.skills-container {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
}
.skill-section {
  height: 400px;
  margin-bottom: 170px;
}
.skill-img-container {
  margin-left: 30px;
  margin-top: 20px;
}
.skill-header-container {
  margin-left: 30px;
}
.skill-description-container {
  margin-left: 30px;
}
.skill-img {
  width: 60px;
  height: 60px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.skill-name {
  font-family: Roboto;
  font-weight: bold;
  font-size: 25px;
}
.skill-description {
  font-family: roboto;
  font-size: 13px;
}
.links {
  display: flex;
  justify-content: center;
  margin-right: 80px;
  flex-grow: 1;
}
.main-nav {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stock-container {
  display: flex;
  justify-content: space-between;
}
.intro-container {
  width: 200px;
}
a:hover {
  color: #5e3bee;
}
#name {
  font-family: "Roboto";
  font-weight: 600;
}
#header {
  font-size: 30px;
}

#skill-set td {
  background-color: #f2fdfe;
}
#logo {
  font-size: 20px;
  margin-left: 20px;
  font-family: Roboto;
}
#linkedIn {
  width: 40px;
  height: 40px;
}
#gitHub {
  width: 40px;
  height: 40px;
}
#leetCode {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}
#stock-image {
  position: absolute;
  width: 400px;
  height: 300px;
  right: 70px;
  top: 250px;
}
.contact-links {
  padding: 0px;
}
